
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Submit</title>
</head>
<body>
    <div>
        <table border="0" cellpadding="0" cellspacing="5">
            <tr>
                <td>
                    <asp:ListBox ID="lstLeft" runat="server" SelectionMode="Multiple" Width="80">
                        <asp:ListItem Text="Apple" Value="Apple" />
                        <asp:ListItem Text="Mango" Value="Mango" />
                        <asp:ListItem Text="Grapes" Value="Grapes" />
                        <asp:ListItem Text="Pineapple" Value="Pineapple" />
                        <asp:ListItem Text="Guava" Value="Guava" />
                        <asp:ListItem Text="Cherry" Value="Cherry" />
                        <asp:ListItem Text="Banana" Value="Banana" />
                        <asp:ListItem Text="Papaya" Value="Papaya" />
                    </asp:ListBox>
                </td>
                <td>
                    <asp:Button ID="btnLeft" Text="<<" runat="server" OnClick="LeftClick" />
                    <asp:Button ID="btnRight" Text=">>" runat="server" OnClick="RightClick" />
                </td>
                <td>
                    <asp:ListBox ID="lstRight" runat="server" SelectionMode="Multiple" Width="80"></asp:ListBox>
                </td>
            </tr>
        </table>
    </div>

    <div>

    </div>
</body>
</html>
